body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#nprogress .bar {
    background-color: #f4590a !important;
}

#nprogress .spinner-icon {
    border: 16px solid #f3f3f3!important;
    border-radius: 50%!important;
    border-top: 8px solid #f4590a!important;
    width: 120px!important;
    height: 120px!important;
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #f4590a, 0 0 5px #f4590a !important;
}